*{
	text-align:center;
	font-family: 'Noto Sans KR', sans-serif;
	margin:0;
}
.title{
	padding: 30px;
	font-size: 15px;
	font-weight: 600;
	height: 70px;
	color: #4dccc6;
}
.wrap{
	min-height: calc(100vh - 12rem ); /* footer 높이를 빼준다. */
	background: white url("./assets/background.jpg") no-repeat;
	background-size: 100% auto;

}
.mainContents{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
header,footer {
	background: linear-gradient(70deg,#c3fae8,#96f2d7,#63e6be);
	height: 6rem;
	min-width: 900px
}

.header{
	line-height: 96px;
	display: block;
	font-size: 50px;
	margin: auto;
}

.copyRightList{
	list-style: none;
	display: block;
}
.copyRightList a {
	text-decoration: none;
	color: black;
}
.copyRightList a:visited {
	color: none;
	color: black;
}